@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme{
    --font-display:"urbanism",sans-serif;
    --breakpoint-3xl:1920px;
    --color-primary:#FF9324;
}

@layer{
    html{
        font-family:var(--font-display);
    }
    body{
        background: #fcfbfc;
    }
}